export WATCH_WALLET_CONF=./data/config/btc/wallet.toml
export KEYGEN_WALLET_CONF=./data/config/btc/keygen.toml
export SIGNATURE_WALLET_CONF=./data/config/btc/signature.toml
export PROJECT_PATH=${HOME}/work/go/src/github.com/hiromaily/go-bitcoin
#export DD_AGENT_HOST=
