# For wallet config path
export WATCH_WALLET_CONF=./data/config/btc/watch.toml
export KEYGEN_WALLET_CONF=./data/config/btc/keygen.toml
export SIGN_WALLET_CONF=./data/config/btc/sign.toml


# Override for BCH
export COIN_TYPE=bch
export BCH_WALLET_RPC_PORT=18332
export CONFIRMATION_NUM=4


# For default seed to generate same key
#export KEYGEN_SEED=oWAalOebpZ1mNyN3mHj4eF34EhGoWovd1r4X+L2fCHQ=
#export SIGN_SEED=QEMuxJ/IrPcPcyKToM74nh7504x+Ska6CGhJmo9z+1g=


# Database for MySQL command on local
export MYSQL_ROOT_PASSWORD=root


# Project Path for unittest
export PROJECT_PATH=${HOME}/work/go/src/github.com/hiromaily/go-bitcoin
