.DS_Store
.idea/

.envrc

#!cmd/watch
#!cmd/keygen
#!cmd/sign

data/address/*
data/dump/*
data/fullpubkey/*
data/keystore/*
data/tx/*
data/certs/*
data/gaiad/*

docker/grafana/*
docker/nodes/btc/data/testnet3
docker/nodes/btc/data1/*
docker/nodes/btc/data2/*
docker/nodes/btc/data3/*
docker/nodes/bch/data/testnet3
docker/nodes/eth/data/*
docker/nodes/xrp/db/*
docker/nodes/eth/openeth-data/*
!.gitkeep
