.DS_Store
.idea/

.envrc

#!cmd/watch
#!cmd/keygen
#!cmd/sign

data/address/*
data/dump/*
data/fullpubkey/*
data/keystore/*
data/tx/*

docker/grafana/*
docker/btc/data/testnet3
docker/bch/data/testnet3

!.gitkeep
