.DS_Store
.idea/

.envrc

#!cmd/watch
#!cmd/keygen
#!cmd/sign

data/address/*
data/dump/*
data/fullpubkey/*
data/keystore/*
data/tx/*
data/certs/*

docker/grafana/*
docker/nodes/btc/data/testnet3
docker/nodes/bch/data/testnet3
docker/nodes/eth/data/*
docker/nodes/eth/openeth-data/*
docker/nodes/xrp/db/*
docker/nodes/eth/openeth-data/*
!.gitkeep
