
# For wallet config path
# BTC
export BTC_WATCH_WALLET_CONF=./config/wallet/btc_watch.toml
export BTC_KEYGEN_WALLET_CONF=./config/wallet/btc_keygen.toml
export BTC_SIGN_WALLET_CONF=./config/wallet/btc_sign.toml
export BTC_ACCOUNT_CONF=./config/wallet/account.toml

export BCH_WATCH_WALLET_CONF=./config/wallet/bch_watch.toml
export BCH_KEYGEN_WALLET_CONF=./config/wallet/bch_keygen.toml
export BCH_SIGN_WALLET_CONF=./config/wallet/bch_sign.toml
export BCH_ACCOUNT_CONF=./config/wallet/account.toml

export ETH_WATCH_WALLET_CONF=./config/wallet/eth_watch.toml
export ETH_KEYGEN_WALLET_CONF=./config/wallet/eth_keygen.toml
export ETH_ACCOUNT_CONF=./config/wallet/account.toml

export XRP_WATCH_WALLET_CONF=./config/wallet/xrp_watch.toml
export XRP_KEYGEN_WALLET_CONF=./config/wallet/xrp_keygen.toml
export XRP_ACCOUNT_CONF=./config/wallet/account.toml

# For default seed to generate same key
#export KEYGEN_SEED=oWAalOebpZ1mNyN3mHj4eF34EhGoWovd1r4X+L2fCHQ=
#export SIGN_SEED=QEMuxJ/IrPcPcyKToM74nh7504x+Ska6CGhJmo9z+1g=

# BTC node
export RPC_USER=xyz
export RPC_PASSWORD=xyz

# Database for MySQL command on local
export MYSQL_ROOT_PASSWORD=root

# Project Path for unittest
export PROJECT_PATH=${HOME}/go/src/github.com/hiromaily/go-crypto-wallet
